// Colors
$m1: #C2D0FF;  // light blue
$m2: #0097AA;  // turqouise
$m3: #D0562E;  // orange
$wh: #fff;
$bl: #1e1e1e;
$lg: #ededed;

// Breakpoints
$bp-micro: 300px;
$bp-tiny: 400px;
$bp-small: 500px;
$bp-medium: 600px;
$bp-big: 700px;
$bp-large: 800px;
$bp-huge: 900px;
$bp-titan: 1000px;
$bp-world: 1100px;
$bp-solar: 1200px;
$bp-galaxy: 1300px;
$bp-universe: 1400px;

$bp-desktop: $bp-world;
$bp-tablet: $bp-medium;

$boundry: 1180;
$gutter: 20px;

// Font Weights
$thin: 100;
$extra-light: 200;
$light: 300;
$normal: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$heavy: 800;
$black: 900;

// Standard Fonts
$body-font-size: 15px;
$body-line-height: 20px;
$font-family-1: calibri;
$font-family-2: arial;

// Headings
$h1-size: 45px;
$h1-line-height: 50px;
$h1-margin: 14px;

$h2-size: 35px;
$h2-line-height: 50px;
$h2-margin: 9px;

$h3-size: 30px;
$h3-line-height: 40px;
$h3-margin: 10px;

$h4-size: 25px;
$h4-line-height: 30px;
$h4-margin: 11px;

$h5-size: 20px;
$h5-line-height: 30px;
$h5-margin: 10px;

$h6-size: 14px;
$h6-line-height: 18px;
$h6-margin: 13px;
